{% extends "/layoutAdmin.html.twig" %}

{% block content %}
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 col-md-12">
                    <div class="card">
                        <div class="card-header"><b>Modification </b> du mot de passe du <b>compte client</b> : {{ client.name }} {{ client.firstname }}</div>
                        <div class="card-body card-block">
                            <div class="form-group">
                                {{ form_start(form) }}
                                <div class="col-md-6">
                                    {{ form_label(form.password_confirm.first) }}
                                    {{ form_widget(form.password_confirm.first, {attr :{class: 'form-control'}}) }}
{#                                    {{ form_errors(form.password_confirm.first) }}#}
                                </div>
                                <div class="col-md-6">
                                    {{ form_label(form.password_confirm.second) }}
                                    {{ form_widget(form.password_confirm.second, {attr :{class: 'form-control'}}) }}
{#                                    {{ form_errors(form.password_confirm.second) }}#}
                                </div>
                                <div class="col-md-12 mt-4 btn-form-admin">
                                    {{ form_row(form.save) }}
                                    <a href="{{ path('indexAdmin') }}" class="btn btn-secondary">Annuler</a>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


