<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Connexion à l'espace administrateur</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ asset('back/assets/css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('back/assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('back/assets/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('back/assets/css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('back/assets/css/flag-icon.min.css') }}">
    <link rel="stylesheet" href="{{ asset('back/assets/css/cs-skin-elastic.css') }}">
    <link rel="stylesheet" href="{{ asset('back/assets/scss/style.css') }}">
    <link rel="stylesheet" href="{{ asset('back/css/modifHari.css') }}">

    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.png') }}">
</head>
<body class="bg-dark">

{% block content %}
{% endblock %}

<script src="{{ asset('back/assets/js/vendor/jquery-2.1.4.min.js') }}"></script>
<script src="{{ asset('back/assets/js/popper.min.js') }}"></script>
<script src="{{ asset('back/assets/js/plugins.js') }}"></script>
<script src="{{ asset('back/assets/js/main.js') }}"></script>


</body>
</html>