{% extends "/layoutAdmin.html.twig" %}
{% block content %}
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-xl-10 offset-xl-1 col-12">
                    {% include 'back/_tagAlerte.html.twig' %}
                    <div class="card">
                        <div class="card-header"><b>Modification </b> du produit : "{{ product.name }}"
                        </div>
                        <div class="card-body card-block">
                            <div class="form-group">
                                {{ form_start(form) }}
                                <div class="col-12 mb-4">
                                    <div class="form-group">
                                        Prix actuel : <b>{{ product.price }} €</b>
                                    </div>
                                </div>
                                <div class="col-12 mb-4">
                                    {{ form_row(form.solde) }}
                                </div>
                                <div class="col-12"><p>Les champs précédés de la mention * sont obligatoires.</p></div>
                                <div class="col-md-6  btn-form-admin">
                                    {{ form_row(form.save) }}
                                    <a href="{{ path('admin-product-index') }}" class="btn btn-secondary">Annuler</a>
                                </div>
                                <div class="col-md-6 text-right">
                                    <a data-href="{{ path('admin-product-delete', {id: product.id}) }}"
                                       data-toggle="modal" class="btn btn-danger text-white"
                                       data-target="#confirm-delete">Supprimer</a>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}