<h3 style="border-bottom: 1px black solid; color:#142943">
    Nouveau message depuis votre site /
</h3>
<strong>Nom & Prénom :</strong> {{ name }}<br>
<strong>Email :</strong> {{ email }}<br>
{#<strong>Lieu :</strong> {{ location }}<br>#}
{#<strong>Téléphone :</strong> {{ phone }}<br>#}
<strong>Message:</strong><br>
{{ message }}